.container {
  width: 600px;
  min-height: 300px;

  background-color: rgb(61, 61, 63);
  border-radius: 10px;
  box-shadow: 2px 5px 5px 2px rgba(54, 54, 54, 0.82);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-camp {
  width: 600px;
  display: flex;
  justify-content: space-around;  
}

input {
  width: 70%;
  padding: 8px;
  border: 2px solid rgb(5, 54, 139);
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(241, 241, 241);
}

button {
  width: 15%;
  padding: 6px;
  background-color: #061066;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: #0a1a2e;
}

  button:disabled {
    background-color: red;
  
}

button:hover {
  background-color: rgb(18, 18, 105);
}

.user-not-found {
  background-color: rgb(18, 18, 105);
  width:auto;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.empty {
  background-color: rgb(18, 18, 105);
  width: auto;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 30px;
  color: #fff;
}

/* visible and hiden */

.nf-visible {
  visibility: hidden;
}

.em-visible {
  visibility: hidden;
}

.list-visible {
  visibility: hidden;
}
